# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/firebase/node_modules

# env
.env.production
.env.development

# Firebase
/firebase/.firebase

# dependencies
/node_modules
/firebase/functions/node_modules

# dev
/dev
/public/psd

# builds
/build
/firebase/build
/firebase/functions/dist/
/firebase/functions/build/

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase.js
chromedriver.log